.item {
	border: 1px gray solid;
	padding: 7px;
}

.itemRead {
	color: gray;
}

.itemCurrent {
	border: 2px blue solid;
	color: black;
}

.title {
	font-size: 125%;
}

.description {
	margin-top: 5px;
}
